
@media(max-width: 768px) {
/***for the landing page **/
.navbar{
    flex-direction: column;
    height: 120px;
    padding: 20px;
}
nav ul li a{
    padding: 10px ;
    margin: 0 3px;
}
.flex-items {
    flex-direction: column;
}
.second-cont {
    padding-left: 10%;
}
.flex-items .coloumn ,.fifth-cont .coloumn , .seventh-cont .coloumn{
    flex: 100%;
    width: 100%;
    text-align: left;
}
.fourth-cont .image-cont{
    grid-template-columns: repeat(1,90%);
    padding-left: 10%;
}
.team-images{
    width: 50%;
    margin-left: 25%; 
}
/***for the blog page ****/
.flex-coloms {
    flex-direction: column-reverse;
}
.flex-coloms .row .coloumn{
    flex: 100%;
    max-width: 100%;
    text-align: left;
}


/***for blog post page****/
.blog{
    align-items: flex-end;
    padding-bottom: 10px;
}
.post img{
    border-radius: 0%;
    width: 100%;
}
}
