/*util classes*/
a{
    text-decoration: none;
}
p{
    margin: 10px 0;
}

.h1{
    font-size: 40px;
    font-weight: 300;
    line-height: 1.2;
}
.btn-dark, .bg-dark{
    background: #333;
    color: #fff;

}
.btn-light, .bg-light {
    background: #f4f4f4;
    color: #333;
}
.btn-primary, .bg-primary {
    background: #28a745;
    color: #fff;
}
.btn-secoundry, .bg-secoundry {
    background: #0284d0;
    color: #fff;
}


.btn{
    cursor: pointer;
    display: inline-block;
    padding: 10px 30px;
    color: #fff;
    background-color: #28a745;
    border: none;
    border-radius: 5px;
}
.btn:hover{
    opacity: 0.8;
}
.btn-outline {
    background: transparent;
    border: 1px solid #fff;
}
.flex-items{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.h2{
    line-height: 1.2;
    margin-bottom:15px;
}
.section-padding {
    padding: 20px 20px 40px;
}
.row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
 }
.coloumn  {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
 }